
@import "common/foundation/variables";

.topic { 
    &-list {
        .main {
            &-link {
                a.title {
                    color: #19355B;
                    
                    &:hover {
                        color: #E88A19;
                    }
                }
            }
        }
    }
}

.latest {
    &-topic {
        &-list {
            &-item {
                .main {
                    &-link {
                        a.title {
                            color: #19355B;
                    
                            &:hover {
                                color: #E88A19;
                            } 
                        }   
                    }
                }
            }
        }
    }
}

.category {
    &-list {
        .category {
            .category {
                &-name {
                   color: #19355B; 

                   &:hover {
                        color: #E88A19;
                    }
                }
                &-description {
                    color: #3d3f4b;
                    font-size: 14px;
                }
            }
        }
        .topics {
            .value {
                color: #3d3f4b;
                font-size: 14px;
            }
        }
    } 
}

.badge {
    &-wrapper {
        .badge {
            &-category {
                .category-name {
                    color: #3d3f4b;
                    font-size: 14px;
                }   
            }
        }
    }
}