@import "common/foundation/variables";

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    padding: 0px 16px;
    a {
      color: #19355b !important;
      font-family: Montserrat, Helvetica, sans-serif;
    }
    span.mainHeader {
      display: block;    
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
    }
    span.subHeader {
      display: block;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}
