@import "common/foundation/variables";
@import "links";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: Montserrat;
}

.d-header {
  #site-logo {
    max-width: none;
  }

  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    padding: 0px 16px;
    a {
      color: #19355b !important;
      font-family: Montserrat;
      
      &:hover {
        text-decoration: none;
        span:first-child {
          color: #d08a39;
        }
      }
    }
    span.mainHeader {
      display: none;    
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;

      @media (min-width: 601px) {
        display: block;
      }
    }
    span.subHeader {
      display: none;

      @media (min-width: 901px) {
        display: block;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .active {
    a {
      color: #d08a39;
    }
  }

}

.menu-panel {
  li,
  li.heading {
    a.widget-link.custom-hamburger-link {
      display: block;
      color: #19355b !important;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 700;
      @media (min-width: 601px) {
        display: none;
      }
      
      &:hover {
        text-decoration: none;
        span:first-child {
          color: #d08a39;
        }
      }
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

.custom-header-links {
    margin-left: 1em;
}

.hide-menus {
    .custom-header-links {
      display: none;
  }
}

